<nav
  class="fixed top-0 left-0 w-full z-40 transition-all duration-300"
  [ngClass]="{
    'bg-background shadow-lg': isScrolled(),
    'bg-transparent': !isScrolled() && isDarkMode() === 'dark',
    'bg-white/10': !isScrolled() && isDarkMode() === 'light',
    'translate-y-0': isHeaderVisible(),
    '-translate-y-full': !isHeaderVisible()
  }"
>
  <div
    class="relative mx-auto h-20 w-full max-w-[1440px] items-center justify-center px-7 hidden md:flex"
  >
    <a
      [routerLink]="['/']"
      fragment=""
      class="font-headings text-xl font-bold text-primary transition-colors hover:text-accent z-50 absolute left-7"
    >
      Alex Russotto
    </a>

    <div class="flex items-center gap-6">
      <a
        [routerLink]="['/']"
        fragment="projects"
        class="font-text font-semibold text-primary transition-colors hover:text-accent"
      >
        {{ "NAV.PROJECTS" | translate }}
      </a>
      <a
        [routerLink]="['/']"
        fragment="about"
        class="font-text font-semibold text-primary transition-colors hover:text-accent"
      >
        {{ "NAV.ABOUT" | translate }}
      </a>
      <a
        [routerLink]="['/']"
        fragment="contact"
        class="font-text font-semibold text-primary transition-colors hover:text-accent"
      >
        {{ "NAV.CONTACT" | translate }}
      </a>
    </div>

    <div class="flex items-center gap-4 absolute right-7">
      <div class="h-6 w-px bg-border"></div>
      <app-language-toggle />
    </div>
  </div>

  <div
    class="mx-auto flex h-20 w-full max-w-[1440px] items-center justify-between px-7 pt-7 md:hidden"
  >
    <a
      [routerLink]="['/']"
      fragment=""
      (click)="closeMobileMenu()"
      class="font-headings text-xl font-bold text-primary transition-colors hover:text-accent z-50"
    >
      Alex Russotto
    </a>

    <button (click)="toggleMobileMenu()" class="text-primary z-50 h-16 w-16">
      @if (isMobileMenuOpen()) {
      <app-icon-close />
      } @else {
      <app-icon-menu />
      }
    </button>
  </div>
</nav>

@if (isMobileMenuOpen()) {
<div
  class="fixed inset-0 z-30 flex flex-col items-center justify-center gap-10 bg-background"
>
  <nav class="flex flex-col items-center gap-8">
    <a
      [routerLink]="['/']"
      fragment="projects"
      (click)="toggleMobileMenu()"
      class="font-headings text-3xl text-primary"
    >
      {{ "NAV.PROJECTS" | translate }}
    </a>
    <a
      [routerLink]="['/']"
      fragment="about"
      (click)="toggleMobileMenu()"
      class="font-headings text-3xl text-primary"
    >
      {{ "NAV.ABOUT" | translate }}
    </a>
    <a
      [routerLink]="['/']"
      fragment="contact"
      (click)="toggleMobileMenu()"
      class="font-headings text-3xl text-primary"
    >
      {{ "NAV.CONTACT" | translate }}
    </a>
  </nav>

  <div class="absolute bottom-16 flex items-center gap-6">
    <app-language-toggle />
  </div>
</div>
}
