<section
  class="relative h-screen overflow-hidden bg-cover bg-center bg-[url('/assets/images/backgrounds/heroBG_sw.jpg')]"
>
  <div class="absolute inset-0 z-0 bg-black/80"></div>

  <div class="absolute top-8 right-8 z-20 flex items-center gap-4">
    <app-language-toggle />
    <app-theme-toggle />
  </div>

  <div
    class="relative z-10 mx-auto flex h-full flex-col items-center justify-center"
  >
    <div class="w-full max-w-[1440px] px-4 text-center">
      <div
        class="flex-col items-center justify-center font-headings text-5xl uppercase text-primary"
      >
        <span>{{ "HERO.FLIP_BEFORE" | translate }}</span>

        <div class="h-[75px] overflow-hidden">
          <div class="animate-text-flip">
            <div>
              <div
                class="mb-[75px] inline-block rounded-md px-3 py-2 text-primary text-glow"
              >
                {{ "HERO.FLIP_WORD_1" | translate }}
              </div>
            </div>

            <div>
              <div
                class="mb-[75px] inline-block rounded-md text-glow px-3 py-2 text-white"
              >
                {{ "HERO.FLIP_WORD_2" | translate }}
              </div>
            </div>

            <div>
              <div
                class="mb-[75px] inline-block rounded-md text-glow px-3 py-2 text-white"
              >
                {{ "HERO.FLIP_WORD_3" | translate }}
              </div>
            </div>
          </div>
        </div>

        <span>{{ "HERO.FLIP_AFTER" | translate }}</span>
      </div>

      <p class="font-text mt-3 text-xl text-secondary">
        {{ "HERO.NAME" | translate }}
      </p>

      <p class="font-text text-xl text-secondary">
        {{ "HERO.JOB_TITLE" | translate }}
      </p>
      <div class="mt-8 flex justify-center gap-4">
        <app-button variant="glow" [text]="'HERO.CTA_PRIMARY' | translate">
        </app-button>

        <app-button
          variant="secondary"
          href="#about"
          [text]="'HERO.CTA_SECONDARY' | translate"
        >
        </app-button>
      </div>
      <app-social-links />
    </div>
  </div>
</section>
